.item-slick.slick-slide.slick-current.slick-active {
    outline: none !important;
}

.slider-full {
    margin: 0 auto 15px;
    max-width: 675px;
    width: 100%;

    .slick-list {
        box-shadow: $defaultBoxShadow;
        margin: 0 10px;
    }
    .slick-slide {
        padding: 20px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 15px;
            right: 15px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23313131' d='M2.833 7.06h2.72v-1.5h-2.72zm4.22-1.5v1.5h2.78v-1.5zm-1.5 4.244h1.5V7.059h-1.5zm1.5-7h-1.5v2.755h1.5zm-.732 8.57a5.067 5.067 0 0 1-5.066-5.058 5.07 5.07 0 0 1 5.066-5.06 5.072 5.072 0 0 1 5.067 5.06c0 2.79-2.275 5.059-5.067 5.059zm8.495 2.56L11.21 10.33A6.323 6.323 0 0 0 6.321 0a6.321 6.321 0 1 0 4.005 11.213l3.606 3.603a.625.625 0 0 0 .884-.881z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            width: 15px;
            height: 15px;
            @include media('>=desktop') {
                bottom: 20px;
                right: 30px;
            }
        }
        img {
            max-width: 100%;
            margin: 0 auto;
        }
    }
    img {
        max-width: 383px;
        max-height: 383px;
        //width: 100%;
        @include media('>=desktop') {
            max-width: 383px;
            max-height: 383px;
            margin-left: auto;
            margin-right: auto;
            padding: 15px 0;
        }
    }
}

.slider-thumbnail {
    position: relative;
    max-width: 670px;
    display: none;
    @include media('>=desktop') {
        display: block;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        margin-bottom: 0;
        &.slick-prev {
            left: -60px;
            transform: translateY(-50%) rotate(-180deg);
        }
        &.slick-next {
            right: -60px;
        }
    }
    img {
        max-width: 110px;
        max-height: 110px;
    }
    .item-slick {

    }
    .slick-slide {
        width: 180px;
        height: 110px;
        margin-right: 11px;
        box-shadow: $defaultBoxShadow;
        img {
            margin: 0 auto;
            padding: 10px 0;
        }
    }

    .slick-list {
        margin: 0 10px;
        box-shadow: $defaultBoxShadow;
    }
}

.slider-thumbnail .item-slick {
    max-width: 240px;
    outline: none !important;
    cursor: pointer;
}

.slider-thumbnail .item-slick img {
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close:hover {
    cursor: pointer;
}

.mfp-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        cursor: default;

    }
}

.mfp-content, .mfp-container {

    width: 100%;
    max-height: 800px;
    height: 100%;

}

.mfp-container {
    max-width: 95vw;
    max-height: 90vh;
    @include media('>=desktop') {
        max-height: 800px;
        padding-right: 70px;
        max-width: 1275px;
    }
    @include media('>=desktop') {
        padding-right: 140px;
    }
}

.mfp-content {
    position: relative;
    background-color: $white;
    padding-left: 44px;
    padding-right: 44px;
    @include media('>=desktop') {
        padding-left: 0;
        padding-right: 0;
    }
}

.mfp-figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) !important;
    left: 50%;
    &:after {
        display: none;

    }
    figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.mfp-zoom-in.mfp-image-loaded .mfp-figure, .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
    transform: translate(-50%, -50%) scale(1) !important;
}

.mfp-arrow {

    &:before {
        position: absolute;
        left: 48%;
        width: 9px;
        transform: translateX(-50%) rotate(45deg);
        height: 2px;
        background-color: $blue;
        top: 16px;
        transition: background-color 0.3s;
    }
    &:after {
        position: absolute;
        left: 48%;
        width: 9px;
        height: 2px;
        bottom: 16px;
        transform: translateX(-50%) rotate(-45deg);
        background-color: $blue;
        transition: background-color 0.3s;
    }
}

.image-source-link {
    color: #98C3D1;
}

.mfp-with-zoom.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.7;
}

.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

/*BLUR background */

.mfp-ready .mfp-figure {
    opacity: 0;
}

/* start state */
/* animate in */
/* animate out */
.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: scale(0.95);
}

.mfp-zoom-in .mfp-preloader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-image-loaded .mfp-figure, .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
    opacity: 1;
    transform: scale(1);
}

.mfp-zoom-in.mfp-ready .mfp-preloader {
    opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
    transform: scale(0.95);
    opacity: 0;
}

.mfp-zoom-in.mfp-removing .mfp-preloader {
    opacity: 0;
}

.mfp-iframe-scaler {
    overflow: visible;
}

.mfp-zoom-out-cur {
    cursor: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer;
}

.mfp-bottom-bar {
    display: none;
}

.mfp-close {
    font-size: 0;
    right: 15px !important;
    margin-bottom: 0 !important;
    top: 15px !important;
    width: 35px !important;
    background-color: transparent !important;
    opacity: .9 !important;
    @include media('>=desktop') {
        right: -50px !important;
        top: 0 !important;
    }
}

img.mfp-img {
    padding: 0;
    @include media('>=mobile-landscape') {
        max-height: 280px !important;
    }
    @include media('>=tablet') {
        max-height: 560px !important;
    }
    @include media('>=desktop') {
        max-height: 600px !important;

    }
    @include media('>=large-desktop') {
        max-height: 768px !important;
    }

}

.mfp-figure figure {
    padding: 0 40px;
    max-height: 768px;
    //max-width: 1060px;
    width: 100%;
    overflow: hidden;
}