.preloader {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  min-height: 100px; }
.preloader.loading {
  opacity: 1;
  pointer-events: auto; }

.multi {
  height: 50px;
  width: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(95, 135, 255, 0.25) transparent rgba(95, 135, 255, 0.5);
  border-radius: 100%;
  -webkit-animation: clockwise 1.01s linear infinite;
  animation: clockwise 1.01s linear infinite; }

.multi:after {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(95, 135, 255, 0.5) transparent transparent;
  border-radius: 100%; }

.multi div {
  position: relative;
  height: 40px;
  width: 40px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(95, 135, 255, 0.25) transparent rgba(95, 135, 255, 0.5);
  border-radius: 100%;
  -webkit-animation: counter-clockwise 0.49s linear infinite;
  animation: counter-clockwise 0.49s linear infinite; }

.multi div:after {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(95, 135, 255, 0.25);
  border-radius: 100%; }

@-webkit-keyframes clockwise {
  to {
    -webkit-transform: rotate(360deg) translatez(0);
    transform: rotate(360deg) translatez(0); } }

@keyframes clockwise {
  to {
    -webkit-transform: rotate(360deg) translatez(0);
    transform: rotate(360deg) translatez(0); } }

@-webkit-keyframes counter-clockwise {
  to {
    -webkit-transform: rotate(-360deg) translatez(0);
    transform: rotate(-360deg) translatez(0); } }

@keyframes counter-clockwise {
  to {
    -webkit-transform: rotate(-360deg) translatez(0);
    transform: rotate(-360deg) translatez(0); } }

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% {
    -webkit-transform: translatey(20px);
    transform: translatey(20px); } }

@keyframes bounce {
  50% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% {
    -webkit-transform: translatey(20px);
    transform: translatey(20px); } }

@-webkit-keyframes zoom {
  to {
    width: calc(250px + 20px);
    margin-left: calc(-125px - 10px);
    margin-top: calc(-125px - 10px);
    border-width: 10px;
    border-color: white; } }

@keyframes zoom {
  to {
    width: calc(250px + 20px);
    margin-left: calc(-125px - 10px);
    margin-top: calc(-125px - 10px);
    border-width: 10px;
    border-color: white; } }

@-webkit-keyframes follow {
  0% {
    -webkit-transform: translatex(-45px);
    transform: translatex(-45px); }
  100% {
    -webkit-transform: translatex(60px);
    transform: translatex(60px); } }

@keyframes follow {
  0% {
    -webkit-transform: translatex(-45px);
    transform: translatex(-45px); }
  100% {
    -webkit-transform: translatex(60px);
    transform: translatex(60px); } }