<section class="chess-order">
    <div class="container">
        <ul class="chess-list">
            <li class="row-reverse">
                <figure class="bg-image"
                        style="background-image: url('../images/chess-img.jpg')">
                    <img src="../images/chess-img.jpg" alt="img">
                </figure>
                <div class="text-content">
                    <h3>Subcategory Headline</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    <a class="button" href="#">Shop Now</a>
                </div>
            </li>
            <li>
                <figure class="bg-image"
                        style="background-image: url('../images/chess-img.jpg')">
                    <img src="../images/chess-img.jpg" alt="img">
                </figure>
                <div class="text-content">
                    <h3>Subcategory Headline</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    <a class="button" href="#">Shop Now</a>
                </div>
            </li>
        </ul>
    </div>
</section>