<footer class="footer">
    <div class="container">
        <div class="holder">
            <ul class="accordion">
                <li class="item">
                    <div class="switch">Products</div>
                    <ul class="content-hidden">
                        <li><a href="#">Small Appliances</a></li>
                        <li><a href="#">Dishwashers</a></li>
                        <li><a href="#">Laundry</a></li>
                        <li><a href="#">Refrigerators</a></li>
                        <li><a href="#">Room A/C</a></li>
                        <li><a href="#">Arctic King</a></li>
                        <li><a href="#">Commercial</a></li>
                    </ul>
                </li>
                <li class="item">
                    <div class="switch">Help & Support</div>
                    <ul class="content-hidden">
                        <li><a href="#">Customer Support</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Product Registration</a></li>
                        <li><a href="#">Product Recalls</a></li>
                    </ul>
                </li>
                <li class="item">
                    <div class="switch">About</div>
                    <ul class="content-hidden">
                        <li><a href="#">About Midea</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">News & Press Releases</a></li>
                    </ul>
                </li>
            </ul>
            <div class="connect">
                <div class="socials">
                    <p>Connect with us</p>
                    @@include("socials.html")
                </div>
                <div class="subscribe">
                    <p>Subscribe to our newsletter to get the latest news and product announcements.</p>

                    <form action="#">
                        <div class="form-group">
                            <input type="text" placeholder="Your E-mail">
                        </div>
                        <button class="white">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span>Copyright 2019 Midea. All rights reserved.</span>
            <div class="info-page">
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
