<section class="help-info">
    <div class="container-small">
        <ul>
            <li>
                <img src="../images/register-product.svg" alt="icon">

                <div class="h4">Register a Product</div>
                <p>Get the most out of your warranty by taking a minute to register your product.</p>
                <a href="#">Register Your Product <span class="arrow-icon"></span></a>
            </li>
            <li>
                <img src="../images/support.svg" alt="icon">

                <div class="h4">Customer Support</div>
                <p>Do you have questions about your recent product purchase? Midea Customer Service is here to help!</p>
                <a href="#">Get Help <span class="arrow-icon"></span></a>
            </li>
            <li>
                <img src="../images/FAQ.svg" alt="icon">
                <div class="h4">FAQ</div>
                <p>Get your questions answered about product setup, use and care, and repair.</p>
                <a href="#">Find an Answer <span class="arrow-icon"></span></a>
            </li>
        </ul>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 730 792"><defs><path id="i15aa" d="M615.72 3584.8c0 24.97 3.7 50.56 9.24 74.9-24.02-48.06-36.96-100.49-36.96-154.17C588 3310.16 751.86 3151 953.3 3151c155.85 0 295.08 97.37 344.97 239.68-68.37-104.23-186.03-168.52-312.32-168.52-203.9 0-370.23 162.28-370.23 362.02zm676.99-62.63c.86-24.9-1.97-50.54-6.69-75 22.46 48.76 33.64 101.5 31.78 155.01-6.76 194.78-176.82 347.69-379.1 340.58-156.52-5.5-292.95-107.49-338.14-251.13 65.06 106.33 181 174.58 307.8 179.04 204.77 7.2 377.41-148.74 384.32-347.88z"/></defs><g><g opacity=".05" transform="translate(-588 -3151)"><use fill="#00b0f0" xlink:href="#i15aa"/></g></g></svg>
</section>